.wrapper__blog_list_item {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 40px;
}

.wrapper__blog_list_item_detail {
  margin-left: 50px;
}
.img__thumbnail {
  display: block;
  width: 150px;
  height: 150px;
}

.link {
  color: var(--secondary-color);
}
