---
layout: post.liquid
title: Garonga Safari Company
---
<h1>{{title}}</h1>

<h2>Settling in... or so we thought!</h2>

<p>Compared to some of the flights we had recently been on, the flight from Cape Town to Hoedspruit was a breeze. We arrived in Hoedspruit and began our 1.5 hour drive to our first safari camp, Garonga Safari Company. Along our drive, we saw a few elephants and giraffes along the side of the road. Our driver was very knowledgeable about the area and told us a few animal facts to pass the time… Did you know that elephants die of old age when all of their teeth fall out and they can no longer eat? Pretty gnarly fact.</p>

<p>When we arrived, we were greeted by the safari staff who ushered us to a table they had set up for lunch. We were told that the afternoon safari was going to leave in about 10 minutes and if we'd like to join, we would need to eat quickly.</p>

<p>After speed-eating, we walked over to the Land Rover to meet everyone before our afternoon safari drive. We met our tracker, our guide, and the two couples who were staying in the same camp as us. Garonga Safari Company is made up of three camps, Garonga Safari Camp, Little Garonga Safari Lodge, and MCH Private Tented Camp, each offering a unique experience. We were staying at MCH Private Tented Camp which has luxury canvas tents, which they say "embodies authentic safari style."</p>

<p>I would argue that "authentic safari style" would probably not have included a king-size bed, twice daily turndown, laundry service, or an outdoor bathtub, but hey, what do I know!</p>

<div class="wrapper__images">
    <figure class="figure__post figure__post__landscape">
        <img alt="A picture of our bed at Garonga" src="/img/posts/2024-garonga-safari-company/garonga-room-1.jpeg">
        <figcaption>Our room at Garonga provided a great place for us to relax in between two-a-day safari rides.</figcaption>
    </figure>
    <figure class="figure__post">
        <img alt="The view of our porch at Garonga" src="/img/posts/2024-garonga-safari-company/garonga-room-2.jpeg">
        <figcaption>This was the view from our bed. It was a stunning backdrop for us to watch The Secret Lives of Mormon Wives on our iPad.</figcaption>
    </figure>
</div>

<h2>The daily grind</h2>

<p>We were at Garonga for 3 nights and it felt a bit like the movie Groundhog Day as each day was as follows:</p>
    <ul>
        <li><strong>5:45am</strong>: Wake up call for the morning safari ride.</li>
        <li><strong>6:15am</strong>: Snacks and coffee before the morning safari ride.</li>
        <li><strong>6:30am</strong>: Depart for our morning safari ride.</li>
        <li><strong>8:00am</strong>: Morning snack while on the safari ride.</li>
        <li><strong>9:30am</strong>: Return to the camp for breakfast.</li>
        <li><strong>1:00pm</strong>: Head to the dining area for lunch.</li>
        <li><strong>3:00pm</strong>: Depart for our afternoon safari ride.</li>
        <li><strong>5:30pm</strong>: Stop for a "sundowner", usually a gin and tonic.</li>
        <li><strong>6:15pm</strong>: Return to the camp for a drink in the lounge.</li>
        <li><strong>7:00pm</strong>: Head to the dining area for dinner.</li>
    </ul>
    
<p>Although it seems like there was not a ton of down time, the tranquility of the camp really recharged us. It probably didn't hurt that we also managed to sneak in a massage with the on-site massage therapist during one of our afternoon breaks. </p>

<h2>Safari rides</h2>

<p>Now, on to the good stuff! The safari rides were incredible and our guide and tracker provided a blend of knowledge and jokes, which were needed with the proximity we were getting to some of these deadly animals. On our first ride, Katie and I were ecstatic when we saw a giraffe within 5 minutes, but the lack of enthusiasm from the rest of the group told us that there was much more to come. They were not wrong!</p>

<div class="wrapper__images">
    <figure class="figure__post">
        <img alt="A lion lying in the grass" src="/img/posts/2024-garonga-safari-company/lion.jpeg">
        <figcaption>It's good to be the king! This lion was lying in the grass so unbothered by everything.</figcaption>
    </figure>
    <figure class="figure__post">
        <img alt="An elephant staring us down" src="/img/posts/2024-garonga-safari-company/elephant.jpeg">
        <figcaption>It was quite intimidating seeing something this large coming straight at you.</figcaption>
    </figure>
</div>

<p>Over the course of the next few days, we saw lions, leopards, rhinos, elephants, buffaloes, zebras, giraffes, hippos, and many different antelope. It's very impressive how well these animals blend in with their surroundings. Sometimes we need to be within 30 feet of something as large as a giraffe before our non-tracker eyes would see it. Consider that a warning for some of the poorer quality photos and videos that you may see!</p>

<div class="wrapper__images">
    <figure class="figure__post">
        <img alt="Two zebras standing in the grass" src="/img/posts/2024-garonga-safari-company/zebras.jpeg">
        <figcaption>Did you know that male zebras are white with black stripes, while females are black with white stripes?</figcaption>
    </figure>
    <figure class="figure__post">
        <video playsinline muted autoplay loop controls>
        <source src="/videos/posts/2024-garonga-safari-company/rhino.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <figcaption>This is a black rhino mother and its baby. Very cute. Note to self: start a baby animal safari! 💰💰💰</figcaption>
    </figure>
</div>

<p>Some of the highlights from our time at Garonga were the giraffes right outside our back porch, seeing a black rhino mother and her baby, and getting to be in the middle of an elephant herd's daily walk. I'd say being so close to the elephants had us the most in awe, both due to the size of them and the path of destruction they left behind. In the video below, you can even see the babies getting involved with destroying the trees.</p>

<div class="wrapper__images">
    <figure class="figure__post figure__post__landscape figure__center">
        <video playsinline muted autoplay loop controls>
        <source src="/videos/posts/2024-garonga-safari-company/elephant-herd.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <figcaption>Please pay attention to the baby elephant at the end of this video&mdash;it's the cutest thing ever. This guy would be a star in Andy's Baby Animal Safari&#8482;</figcaption>
    </figure>
   
    <figure class="figure__post">
        <video playsinline muted autoplay loop controls>
        <source src="/videos/posts/2024-garonga-safari-company/leopard.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <figcaption>Although this video is a bit graphic, I still think leopards were the most stunning animal we saw. Hit me up if you want the extra hardcore director's cut.</figcaption>
    </figure>
   
    <figure class="figure__post">
        <video playsinline muted autoplay loop controls>
        <source src="/videos/posts/2024-garonga-safari-company/giraffes.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <figcaption>These were some guests we had on our back porch. The two of them spent a lot of time at the camp and were even seen drinking from the pool.</figcaption>
    </figure>
     
    <figure class="figure__post figure__post__landscape figure__center">
        <video playsinline muted autoplay loop controls>
        <source src="/videos/posts/2024-garonga-safari-company/hippos.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <figcaption>Our guide walked us from the Land Rover to this river where there were about 10&ndash;20 hippos swimming. It was pretty surreal being out of the vehicle and getting to be so close to these animals.</figcaption>
    </figure>
</div>
<p>After three nights of superb hospitality and animal sightings,we were sad for our time at Garonga to come to an end. On the morning we were set to leave, we packed our bags and got ourselves on the Land Rover for one last safari ride. When we returned we hopped in our taxi to our final stop of the trip, Seseka Tented Camp—part of the Thornybush Game Reserve.</p>
