---
layout: post.liquid
title: A layover in London
---
<h1>{{title}}</h1>
<p>Now that the exhaustion of our 40 hour journey home has faded, I feel it's a good time to share a bit about the trip
    Katie and I just had.</p>

<p>When we initially began planning this trip, we knew it would be centred around the safari experience in South Africa.
    We would spend 5 nights between two different safari lodges, but we still had around 8 days left unaccounted for.
    One of the major travel routes was through London, England and since Katie has close friends who live there, we
    decided to stop over in London for two days. That left us with five nights in Cape Town, which we filled with
    hiking, running, eating, drinking, and exploring the beauty of this coastal city.</p>

<p>The timing of this trip worked out really well for me. We left on August 31, 2024. I had just resigned from my job at
    HelloFresh the day before, which also happened to be my birthday, so I had no emails or messages to check while on
    holiday, or when I returned, which left me completely free to enjoy myself.</p>

<h2>Sunday stroll through London markets</h2>

<p>We arrived in London on the morning of Sunday, September 1st. Once we had collected our bags, we took the train to
    Katie's friends Mackenzie and Ali's house in Kentish Town to freshen up before beginning our day. Both Mackenzie and
    Ali were set to arrive back in London on Sunday night after spending the weekend out of town, but luckily their
    neighbour had a key for us to use.</p>

<p> We walked from Kentish Town to Camden Market to explore and find something to eat. The market is a maze of tunnels
    with all sorts of vendors selling everything from Taylor Swift jean jackets to Egyptian perfumes. There is also a
    large food hall and outdoor food vendors, where we eventually settled and found a spot for Katie to get a hotdog.
</p>

<div class="wrapper__images">
    <figure class="figure__post">
        <img alt="Katie with a hot dog" class="img" src="/img/posts/2024-london-england/camden-hot-dog.jpeg">
        <figcaption>A girl and her dog, a London love story.</figcaption>
    </figure>
</div>

<p>Our market day continued with a visit to Borough Market. Exploring all the food stalls must have made us thirsty
    because we found ourselves at a pub called The Woolpack having a pint or two.</p>

<p>After picking up flowers for our gracious hosts at a flower stand outside the pub, we returned home to meet up with
    Ali and walked to The Lion and Unicorn pub for dinner, where we finally got to experience the traditional Sunday
    Roast.</p>

<h2>Parks, pubs, and a Big Ben blunder</h2>

<p>Due to a scheduling error, Mackenzie's flight didn't arrive that night. We discussed the details with Ali over coffee
    before he left for work. Katie and I planned to run from Kentish Town to Hampstead Heath. When we finished the run,
    I learned that “heath” is just another word for a large park. It had a large forest and loads of open space for
    people and their dogs to enjoy. There were also outdoor swimming ponds, which my sources say Harry Styles will
    occasionally visit.</p>

<div class="wrapper__images">
    <figure class="figure__post">
        <img alt="Running in Hampstead Heath" class="img" src="/img/posts/2024-london-england/andy-running.jpeg">
        <figcaption>Me struggling up a heath hill.</figcaption>
    </figure>
    <figure class="figure__post">
        <img alt="Running in Hampstead Heath" class="img" src="/img/posts/2024-london-england/katie-running.jpeg">
        <figcaption>A happier attitude from the runner in the family.</figcaption>
    </figure>
</div>
<p>When I finally caught my breath, we walked through Hampstead Village on our way back to Kentish Town. We showered and
    walked over to Primrose Hill, which has a great view of the city. I was really leaning into being a tourist, so I
    convinced Katie that we should take a double-decker bus to our next destination, Notting Hill—a neighbourhood known
    for its many iconic plastel-coloured houses (and one movie).</p>

<div class="wrapper__images">
    <figure class="figure__post figure__post__landscape">
        <img alt="Notting Hill houses" class="img" src="/img/posts/2024-london-england/notting-hill-houses.jpeg">
        <figcaption>The houses of Notting Hill.</figcaption>
    </figure>
    <figure class="figure__post figure__post">
        <img alt="Andy in Notting Hill" class="img" src="/img/posts/2024-london-england/andy-in-notting-hill.jpeg">
        <figcaption>Candid shots of me in Notting Hill.</figcaption>
    </figure>
</div>

<p>Of course we needed to take a couple of pictures before making our way to Portobello Road to once again get a bite to
    eat. We ended up at a stunning yellow pub called The Sun In Splendor! In a clear example of “you can't have it all,”
    the pub had great vibes but the meal here was a bit disappointing.</p>

<div class="wrapper__images">
    <figure class="figure__post figure__post__landscape">
        <img alt="The Sun in Splendor" class="img" src="/img/posts/2024-london-england/sun-in-splendor.jpeg">
        <figcaption>You can see how we got tricked into going here.</figcaption>
    </figure>
</div>

<p>Mackenzie had finally made it back, but before Katie and I went back to meet her, we stopped by Big Ben, St James'
    Park, and Buckingham Palace. While I was standing next to Big Ben, a man asked me “Is this Big Ben?”, to which I
    responded, “I'm not sure, but I don't think so.” There were no other large clocks around. I think this is my nominee
    for Most Embarrassing Moment of the Trip.</p>

<div class="wrapper__images">
    <figure class="figure__post">
        <img alt="Big Ben" class="img" src="/img/posts/2024-london-england/posing-with-big-ben.jpeg">
        <figcaption>A very classic tourist picture with Big Ben.</figcaption>
    </figure>
    <figure class="figure__post">
        <img alt="Swan in St. James's Park" class="img" src="/img/posts/2024-london-england/swan-in-st-james-park.jpeg">
        <figcaption>There were a lot of birds in St. James's park, but this swan with the London Eye in the background
            looked cool.</figcaption>
    </figure>
    <figure class="figure__post figure__post__landscape">
        <img alt="Flowers in St. James's Park" class="img"
            src="/img/posts/2024-london-england/st-james-park-flowers.jpeg">
        <figcaption>Some beautiful flowers in St. James's Park.</figcaption>
    </figure>
</div>

<p>We all went out for a drink before our dinner reservation at Bubala. The meal here was fantastic and I'd definitely
    recommend it to anyone visiting London. It more than made up for the underwhelming meal earlier in the day.</p>

<h2>Walking the canal</h2>

<p>I tagged along with Mackenzie and Katie on their morning Hot Girl Walk&#8482; to Hampstead Heath and after we got
    back Katie and I went back to Camden Market to get her a vintage jean jacket. We walked along the Regent's Canal
    ending at Coal Drops Yard, an outdoor shopping mall, where we grabbed a cool, cool beverage from a nearby shop
    before continuing on to the neighbourhood of Angel.</p>

<div class="wrapper__images">
    <figure class="figure__post">
        <img alt="Walking in Hampstead Heath" class="img"
            src="/img/posts/2024-london-england/hampstead-heath-walk.jpeg">
        <figcaption>Back at Hampstead Heath for a morning walk.</figcaption>
    </figure>
    <figure class="figure__post">
        <img alt="Flowers in St. James's Park" class="img" src="/img/posts/2024-london-england/regents-canal.jpeg">
        <figcaption>We walked along Regent's Canal from Camden Market to Coal Drops Yards.</figcaption>
    </figure>
</div>

<p>Angel had another vibrant market, although it was much smaller than Camden Market or Borough Market. We saw a lot of
    children and their parents lining up to get uniforms for the new school year, which had just started the day before.
    We got a bite to eat and then made our way back to Kentish Town for an ice cream date with Mackenzie before getting
    our bags and taking off for the airport for our flight to Cape Town.
</p>