@import "../global/mixins";

.section {
  position: relative;
  padding: 24px var(--section-padding-x-desktop);
  max-width: 1440px;
  margin: 0 auto;
  @include mobile {
    padding: var(--section-padding-mobile);
  }
}

.headline__section {
  font-size: 36px;
  position: relative;
  width: fit-content;
  margin-top: 14px;
  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: calc(100% + 42px);
    background-color: var(--black);
    bottom: -5px;
    left: 0;
  }
  @include tablet {
    font-size: 28px;
  }
}
