.carousel__container__outer {
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 50%;
    translate: 0% -50%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      rgba(158, 192, 188, 0),
      rgba(158, 192, 188, 1)
    );
    width: 40px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &::before {
    left: -32px;
    background-image: linear-gradient(
      to left,
      rgba(158, 192, 188, 0),
      rgba(158, 192, 188, 1) 70%
    );
  }
  &::after {
    right: -32px;
  }
  &.carousel__container__right::after {
    opacity: 1;
  }
  &.carousel__container__left::before {
    opacity: 1;
  }
}

.carousel__container__inner {
  padding: 44px 32px 18px;
  margin: calc(18px - 44px) -32px 0px;
  column-gap: 24px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel__card {
  perspective: 1200px;
  outline: none;
  scroll-snap-align: center;
  &:hover,
  &:focus {
    .carousel__card__inner {
      transform: rotateY(-10deg);
      translate: 1% 0%;
    }
  }
  &.carousel__card__active {
    .carousel__card__inner {
      transform: rotateY(-180deg);
      translate: 100% 0%;
    }
  }
}

.carousel__card__inner {
  text-align: center;
  position: relative;
  height: 340px;
  width: 235px;
  border-radius: 8px;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  cursor: pointer;
  background-color: var(--secondary-color);
  transform-style: preserve-3d;
  transform-origin: center left;
  transition: transform 0.7s ease, translate 0.7s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}
.carousel__card__title {
  font-size: 28px;
}
.carousel__text {
  color: var(--white);
  font-weight: bold;
  margin: 0;
}

.carousel__card__front,
.carousel__card__back {
  backface-visibility: hidden;
  width: 100%;
  height: calc(100% - 30px);
  position: absolute;
  top: 30px;
}

.carousel__circle {
  content: "";
  position: relative;
  width: 180px;
  height: 180px;
  background-color: var(--white);
  border-radius: 50%;
  margin: 45px auto 0px;
}

.img__carousel__logo {
  width: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.carousel__card__back {
  transform: rotateY(180deg);
  position: relative;
  > .carousel__text:last-of-type {
    font-size: 18px;
  }
  .carousel__card__title {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      translate: -50% 6px;
      height: 3px;
      width: 85%;
      background-color: var(--accent-color);
    }
  }
}

.carousel__level__container {
  position: relative;
  width: 150px;
  margin: 24px auto 0px;
}
.carousel__level__text__container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  .carousel__text:last-child {
    font-size: 16px;
  }
}
.img__carousel__level {
  width: 100%;
}
