<header class="header">
  <nav class="nav__main">
    <ul class="nav__main__list">
      {% for section in sections -%}
        <li class="nav__main__list-item">
          {%- if section.img %}
            <a href="{{section.link}}" class="nav__main__logo">
              <img src="{{section.img.src}}" alt="section.img.alt" class="nav__main__logo">
            </a>
          {% else %}
            <a href="{{section.link}}" class="nav__main__link">
              {{section.name}}
            </a>
          {% endif -%}
        </li>
      {% endfor -%}
    </ul>
  </nav>
</header>