<section id="home" class="section section__home">
  <div class="terminal">
    <div class="terminal__buttons"></div>
    <div class="terminal__inner">
      <div class="terminal__text__container">
        <p class="terminal__text terminal__text__command" aria-hidden="true">
          <span>>_</span>
          whoami</p>
        <h1 class="terminal__text terminal__text__response">I'm Andy&mdash;a frontend developer from Toronto!
        </h1>
      </div>
      <div class="terminal__text__container">
        <p class="terminal__text terminal__text__command" aria-hidden="true">
          <span>>_</span>
          learnmore</p>
        <h1 class="terminal__text terminal__text__response">You can learn more about me, my skill, and my experience below.
        </h1>
      </div>
    </div>
  </div>
  <img class="image__main" src="/img/andy-juggling.png" alt="Andy juggling Typescript, React, and Jest logos.">
</section>