<section id="experience" class="section section__experience">
  <h2 class="headline__section">Experience</h2>
  <p>After a career change in 2017, I've gained a lot of experience in the software development space through professional, education, and volunteer opportunities. Have a look through the years to see what I've been up to!</p>
  {%- include 'timeline.liquid' -%}
</section>