<section id="blog" class="section section__blog">
  <h2 class="headline__section">Blog</h2>
  <p>I can't promise that I'll keep this very up to date, but you can see what's on my mind by following the link below.</p>
  <a href="/blog">www.creedthoughts.gov.www\creedthoughts</a>
</section>