<section id="about" class="section section__skills">
  <h2 class="headline__section">Skills</h2>
  <p>Through my career, I've become proficient with a wide range of languages, libraries, and technologies. I'm always trying to keep my knowledge up to date by learning about new technologies through courses, newsletters, and blogs.</p>
  {%- include 'carousel__skills.liquid' -%}
</section>