<section id="about" class="section section__about">
  <h2 class="headline__section">About Me</h2>
  <img
    class="img img__about"
    src="/img/family.png"
    alt="Me and my family on a hike"
    loading="lazy">
  <p>My software development journey began in 2017 when I enroled in night classes learning the basics of HTML, CSS, and Javascript. I was immediately hooked by the problem solving and the tanglible nature of the work.</p>
  <p>Since then, I've expanded my knowledge beyond the basics and always strive to keep up to date on the fast-paced tech world through newsletters, blog posts, and social media.</p>
  <p>I enjoy spending my down time with my friends and family—going out for dinners, playing soccer, volleyball, or spending Sundays on the couch watching football.</p>
  <p>I also have a dog who keeps me quite busy with games of tug or fetch and hiking.</p>
</section>