@import "../global/mixins";

@keyframes fadeIn {
  0% {
    top: -10px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

.timeline__year__container {
  display: flex;
  opacity: 0;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 48px;
  position: relative;
  @include mobile {
    margin-top: 0px;
    flex-direction: column;
  }
}

.timeline__year__container__visible {
  animation: fadeIn 1s ease-in-out forwards;
}

.timeline__year__title {
  position: relative;
  width: fit-content;
  margin-right: 80px;
  margin-top: 0;
  font-size: 24px;
  @include mobile {
    margin: 28px 0;
  }
  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: calc(100% + 12px);
    background-color: var(--black);
    bottom: -5px;
    left: 0;
  }
}

.timeline__experience {
  display: block;
  color: var(--black);
  opacity: 1;

  position: relative;
  height: auto;
  &:not(:first-of-type) {
    margin-top: 28px;
  }
}

.timeline__experience__title {
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 8px;
}
.timeline__experience__institute {
  margin-top: 0;
  font-size: 18px;
  font-style: italic;
}

.timeline__experience__type {
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: var(--accent-color);
  background-color: var(--secondary-color);
  padding: 8px 12px;
  margin: 0;
  width: fit-content;
  box-shadow: 4px 4px 8px rgba(46, 65, 81, 0.25);
  &:before {
    margin-right: 8px;
  }
}

.timeline__experience__work::before {
  content: "💼";
}
.timeline__experience__education::before {
  content: "📚";
}
.timeline__experience__volunteer::before {
  content: "🤝";
}
