.timeline__containter {
}
.timeline__selector {
}

.timeline__button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.timeline__experience__container {
}

.timeline__experience {
  display: none;
}

.timeline__experience__visible {
  display: block;
}
