---
layout: post.liquid
title: South Africa, bru
---
<h1>{{title}}</h1>

<h2>Settling in</h2>
<p>We arrived in Cape Town on Wednesday, September 4th at around 2pm and checked into our hotel to settle in before dinner. Our hotel was located walking distance to the CBD and the V&A Waterfront. We found Uber to be the best way to get around when visiting neighbourhoods outside our immediate vicinity, and also after dark.</p>

<p>After a quick search for dinner spots near us, we found ourselves at Beluga, an Asian fusion restaurant near the cruise ship terminal. The restaurant was huge! It definitely catered to tourists and you could see how the place would fill up when a cruise ship arrived at port. The menu was extensive, with many vegan options.</p>

<p>We were pretty tired from a long day of travel, so we went back to the hotel after dinner.</p>

<h2>Exploring Cape Town</h2>
<p>We fueled up on a continental breakfast before hopping in an Uber to the base of Lion's Head. Lion's Head and Signal Hill form what looks like an animal in a laying down position, with Lion's Head being the head, of course. The hike is a 4.3km return journey, which started off easy but got challenging very quickly as we approached the summit. We had great weather and terrific views the whole way, so we took plenty of pictures on the way up and down to maximize our chance of getting a good one.</p>

<p>We had built up an appetite and made our way to Prashad Cafe on Kloof Street for an early lunch. This casual Indian restaurant came highly recommended from our internet friends and it did not disappoint. In fact, it was so good we ended up ordering it again on Saturday night.</p>

<p>In the late afternoon, we finally opted out of an Uber and walked to the V&A Waterfront from our hotel. We intended to catch the afternoon ferry to Robbin's Island in order to learn more about the place Nelson Mandela was incarcerated for 27 years. Welp, turns out that this is quite a popular tour and tickets should be booked in advance…who knew! Once we found out that there was no chance for us to make it to Robbin's Island, we decided to hop into an Uber once again and check out the District Six Museum. The District Six Museum detailed the forced relocation of thousands of residents from the District Six area of Cape Town to make way for white citizens. The experience was eye-opening and only one example of many similar, unjust situations that have taken place throughout South Africa's history.</p>

<p>We then headed back to the V&A Waterfront for a drink and a wander. This area is the number one tourist trap in Cape Town, so we embraced it and got ready to overpay for mediocrity. We walked around for a bit of time before finding Tiger's Milk, a South African chain similar to Jack Astor's. A few house lagers had us falling asleep at the table, so we figured it was time to go back to the hotel.</p>

<h2>The scenic coast</h2>

<p>This was the first of two full-day tours we had booked. Our driver, Ash, picked us up in the morning and we drove down to Cape Point, stopping at Camps Bay and Hout Bay before getting to Chapman's Peak Drive, a stretch road with spectacular views of the coast. As we entered Cape Point National Park, Ash told us about early settlers of the area who, after having found the southernmost point of Africa, knew there was hope to get around. Hence the name Cape of Good Hope.</p>

<p>We continued driving along the eastern coast line and pulled over at Smitswinkel Bay. While this wouldn't be on any must-see lists, this is a very special place for me and my family. My grandpa used to have a holiday house there and we would often visit on weekends. The cousins had minimal adult supervision while we played for hours on the beach. When it was time for us to come up, one of our parents would ring the dinner bell. It sounds like a joke, but that was South Africa in the 90s, baby!</p>

<p>Before lunch in Simonstown, we visited Boulders Beach to see the protected colony of African penguins. I'm sure Ash taught us some facts about the penguins, but all I can remember now is how funny they looked waddling around the sand.</p>

<p>On our way back to the hotel, we stopped at Kirstenbosch National Botanical Garden, a massive garden at the base of the non-table side of Table Mountain. We learned about the South African national flower, the King Protea, and snapped some photos. While the garden was stunning, with the birds chirping and the wind blowing softly, all I could think about was how soft and inviting the grass looked for a nap.</p>

<h2>Wine and rugby</h2>

<p>We're off to the winelands! The first stop was Spier Wine Farm in Stellenbosch, where we began our first wine tasting of the day around 9am. Thank God we were being sophisticated or someone could have easily perceived this as problematic behaviour. We got our first taste of Pinotage, a grape variety created by a professor at Stellenbosch University. I enjoyed it as I found it a bit lighter and easy drinking than most other red wines, even in the early hours of the morning.</p>

<p>In Stellenbosch, we drove through the university campus, which my dad's two brothers attended in the late 70s and early 80s. I asked Ash to pull over at a store for Katie and myself to grab some hats to show our support for the Springboks, who had a big game against the All Blacks in Cape Town later that day.</p>

<p>We continued our drive through the beautiful countryside, where we visited Eikehof Wines, a 4th generation boutique winery in Franschhoek. We were greeted by the owner, Francois, whose great grandfather bought the farm in 1903. We casually strolled around the property sipping our glasses of wine before Ash gave us the signal that we had better move along if we wanted to make it back to Cape Town in time for the rugby.</p>

<p>Ash dropped us off near the V&A Waterfront and after a few failed attempts at getting into a bar without a reservation, we went back to good old Tiger's Milk where everyone was welcome. The Springboks had been on a roll recently and the vibes in town were electric before the match. The Springboks scored two tries to edge out the All Blacks 18-12 and the people were loving it!  The crowd broke into a spontaneous song and dance in celebration of the South African victory—it was moving to see how everyone joined in. They definitely weren't shy about singing and dancing along!</p>

<h2>Windy views and family time</h2>
<p>For the first time in two days, we did not have a tour scheduled so we were finally able to sleep in a bit. We ran along the Seapoint Promenade, a 6km stretch along the coastline from Greenpoint to just before Clifton Beach. We had an amazing breakfast at Kanela Cafe in Seapoint before heading back to the hotel.</p>

<p>Since it was our last day in Cape Town, we had to take the cable car to the top of Table Mountain. The 5 minute cable car ride offered a stunning view of the city below as you rose to 1,086 meters above sea level. We soon realized the view on the way up was aided by the mountain blocking a constant stream of cloud coverage. At the top of the mountain, we weren't so lucky. It was freezing, very windy, and tough to see anything below. I forced Katie to walk around the top a few times to try to get any sort of view from the top, but eventually we gave up and took the cable car back down.</p>

<p>My mom's two sisters still live in Cape Town, so in the afternoon Katie and I made our way to my aunt Tracy's home in Blouberg. I was not expecting such a large group to be there, but many of my cousins showed up as well. We spent the afternoon braaing, drinking wine, and chatting about what everyone had been up to over the last 10 years since we last saw each other. I told my aunts I would try to convince my mom to visit them soon, which I found out will be happening later this month.</p>

<p>We hitched a ride back to our hotel with my uncle's sister and her husband, who also happened to be going downtown. We ordered a pizza and watched some TV while we packed our bags for the next stop on our trip, Kruger National Park.</p>
