<!DOCTYPE html>
<html lang="en">
  <title>Andy Swanepoel's personal website</title>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Andy Swanepoel's personal website.">

    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      as="style"
      onload="this.rel='stylesheet';this.removeAttribute('as');this.removeAttribute('onload');">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap"></noscript>

    {% styles %}
  </head>
  <body>
    {%- include 'header.liquid' -%}
    <main>
      {{ content }}
    </main>
    <div class="overlay__background"></div>

  </body>
  <script src="index.js"></script>
</html>